
.textContaniner{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textTitle{
    width:1100px;
    height: 100px;
    display: flex;
    justify-content: center;
    color: black;
}

.bookText{
width: 1100px;
font-size: 25px;
}

h1 {
    font-weight: bold;
}

.Title{
 
}

#username-display {
display: flex;
justify-content: flex-end;
}

#reader {
    background-color: aliceblue;
    height: 900px;
    width: 1100px;
    overflow: hidden !important;
    display: flex;
    align-items: center;
    margin-top: 110px;
  }

  .arrow {
    position:absolute;
    font-size: 64px;
    color: #063c87;
    font-family: arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-decoration: none;
  }

  #next {
    right: 0;
  }