body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.big_container {
height: 900px;
  /* max-width: 900px; */
}

.secondBody {
  max-width:1000px;
  display: flex;
}
.textContaniner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 770px;
}

.textContaniner >.textTitle{
  margin-top: 80px;
  width: 60%;
  height:50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  color:black;
  font-size: 30px;
  font-weight: bold;
}

.bookText {
  font-size: 25px;
}

h1 {
  font-weight: bold;
}

#username-display {
  display: flex;
  justify-content: flex-end;
}

.book-container {
height: 100%;
}

#reader {
  background-color: rgb(237, 237, 237);
  height: 100%;  
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: solid 1px;
  min-width: 700px;
  height: 100%;
	background-image: url(../assets/254611e12dd12b611629360861.jpg );
  background-repeat: no-repeat;
  background-size: 100%;
}

.arrow {
  top: 0px;
  font-size: 64px;
  color: #000000;
  font-family: arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
  position: absolute;
  top: 45%;
}

#prev {
  vertical-align: middle;
  /* position: relative; */
}


#next {
  margin-left: 680px;
}

.voiceContaniner {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}

#voiceControls {
width: 1200px;
padding: 5px;
}

.epub-container {
max-width: 690px;
}

#collectBtn {
  font-weight: bold;
font-size: 20px;}

#collectBtnImg {
  width: 40px;
  height: 40px;
}
#collectBtnImg:hover {
  filter: brightness(120%);
}

.collect_box {
  display: flex;
  justify-content: flex-end;
}

#sideBarFooter{
  padding: 8px 16px
}